input, body {
  /*direction: rtl;*/
  font-family: nazanin;
}
.card {
  padding: 2px;
}
.item {
  margin-right: 2px;
  margin-left: 2px;
  padding: 6px;
}
.data {
  box-shadow: 0 2px 4px #ccc;
}

.title {
  margin-right: 2px;
  margin-left: 2px;
}