<div class="mrla w6 ws6 wm6 wl6">
  <div class="row card">
    <div class="w2 ws2 wm2 wl2 left tac item title">ID</div>
    <div class="w2 ws2 wm2 wl2 left tac item title">UserID</div>
    <div class="w2 ws2 wm2 wl2 left tac item title">KindID</div>
    <div class="w4 ws4 wm4 wl4 left tac item title">info</div>
  </div>
  <div class="row card" ng-repeat="record in mainTable">
    <div class="w2 ws2 wm2 wl2 left tac item data">{{record.ID}}</div>
    <div class="w2 ws2 wm2 wl2 left tac item data">2</div>
    <div class="w2 ws2 wm2 wl2 left tac item data">3</div>
    <div class="w4 ws4 wm4 wl4 left tac item data">653546</div>
  </div>
</div>